.header {
    /*margin-left: 10%;
    margin-right: 10%;*/
    margin: 15px;
    text-align: center;
    vertical-align: middle;
}

.main-game-content {
    margin: 10%;
    margin-top: 1%;
}

.question {
    font-weight: bold;
}

.responses {
    font-weight: normal;
}
